<div class="home_header">
  <div class="login_info">

  </div>

  <div class="page_header text-center" ">
    <h1>Betrayers of Kamogawa</h1>
    <p>one bone broken for every twig snapped underfoot. —Llanowar penalty for trespassing.</p>
  </div>
</div>

<div class="home_body">
  <div class="page_title">
    <h2>コンテンツ</h2>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to "カードリスト", {:controller => "cards", :action => "index"}%>
    </li>
    <li class="list-group-item">
      <%= link_to "エキスパンション", {:controller => "expansions", :action => "index"}%>
    </li>
  </ul>  
</div>

<div class="home_footer">

</div>

