// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_header {
  background-image: url("black_lotus.jpg");
  background-position: center;
  padding: 10px;
}

.login_info {
  text-align: right;
}

.page_header {
  color: white;
  padding: 50px;
  height: 200px;
}